* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-background: hsla(195, 91%, 25%, 1);
    --color-background-input: hsla(195, 46%, 40%, 1);
    --color-background-logo:hsla(196, 100%, 98%, 1);
    --color-text-title: hsla(240, 6%, 13%, 1);
    --color-text-paragraph: hsla(240, 6%, 8%, 1);
}

body, input {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;;
}

h1, h2 {
    font-size: 2.4rem;
    color: var(--color-text-title);
}

h3 {
    color: var(--color-text-title);
    font-size: 1.8rem;
    line-height: 100%;
}

p {
    color: var(--color-text-paragraph);
    line-height: 160%;
}

.main-image {
    width: 100%;
    height: auto;
}


    /*Header*/
header {
    background: var(--color-background);
}
    
header .container {
    max-width: 37.4rem;
    height: 7.2rem;
        
    display:flex;
    justify-content: center;
    align-items: center;
        
    margin: auto;
    gap: 2.6rem;
}

.input-wrapper label {
    width: 1px;
    height: 1px;

    position: absolute;
    overflow: hidden;
}

.input-wrapper input {
    border: none;
    border-radius: 4px;

    background: var(--color-background-input);
    color: white;

    padding: 1.2rem 1.4rem;

}

.input-wrapper input::placeholder {
    color: white;
    font-weight: 600;
}

.logo, .avatar {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}

.avatar {
    object-fit: cover;
}

.logo {
    background: var(--color-background-logo);
}

    /*Main*/

main {

    margin:0 auto;
}

.main-title {
    padding: 0 2.2rem;
}

main h1 {
    margin-top: 3.1rem;
}

button {
    all: unset;

    margin-top: .8rem;
}

main p {
    margin: 3.1rem 0;
    padding: 0 2.2rem;
    
}

    /*Aside*/

aside {
    width: 43.0rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

aside h2 {
    margin-bottom: 3.2rem;
}

section article {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

article p {
    font-size: 1.4rem;
}

article img {
    border-radius: .5rem;
}

    /*Footer*/
footer {
    background: var(--color-background-input);
    text-align: center;
    height: 6.4rem;
    padding: 2.6rem;
    color: white;
    font-weight: 600;

}

